* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image:url('./Images/backgroundimage.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
